* {
    padding: 0;
    margin: 0;
}
#heading {
    text-align: center;
    margin-top: 10px;
}
.main {
    position: relative;
    height: 35vh;
    width: 40%;
    margin-top: 15%;
    left: 30%;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
}
.main h3 {
    margin: 15px auto;
}
#longurl {
    margin: 20px 0;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
#shorturl {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 0 20px -30px;
}